<div class="instructions-container">
	<h2>
		When you want to give yourself empathy:
	</h2>

	<ol>
		<li>
			Describe the situation.
		</li>
		<li>
			Choose all the <span class="instructions-feelings">feeling cards</span> related to the situation.
		</li>
		<li>
			Choose all the <span class="instructions-needs">need cards</span> related to the situation.
		</li>
		<li>
			Now you are connected to and better understand your inner life.
		</li>
	</ol>
</div>

{{#link-to "empathy-cards.exercise" class="button start-button"}}
	Begin
{{/link-to}}