.exercise-container {
	margin: 50px 25%;
}

.exercise-situation {
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
}

.next-button {
	border: 1px solid black;
	height: 36px;
	margin: 25px auto;
	font-size: 1.25em;
	cursor: pointer;
	background-color: green;
}

.card {
	color: white;
	width: 150px;
	height: 50px;
	margin: 20px auto;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 6px solid white;
	outline: 2px dashed black;
}

.feeling-card {
	background-color: blue;
}

.need-card {
	background-color: green;
}

.select-discard-buttons {
	text-align: center;
	margin-top: 20px;
	width: 40%;
	margin: 25px auto 0px auto;
}

.select-button, .discard-button {
	width: 40%;
	border: 1px solid black;
	height: 35px;
}

.select-button {
	float: left;
	background-color: green;
}

.discard-button {
	float: right;
	background-color: red;
}

.selected-cards {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.selected-card {
	color: white;
	width: 90px;
	height: 30px;
	margin: 10px auto;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid white;
	outline: 1px dashed black;
	font-size: 0.85em;
}