{{outlet}}

<footer>
	<a href="http://www.lioninawhat.com">
		Home
	</a>

	{{#link-to "empathy-cards.instructions"}}
		Exercise
	{{/link-to}}

	{{#link-to "empathy-cards.about"}}
		About
	{{/link-to}}
</footer>