{{outlet}}

<footer>
	<p class="text-center">
		{{#link-to "empathy-cards.instructions"}}
			Home
		{{/link-to}}
		{{!-- <a href="http://www.academyforpeacecr.org" target="_blank">www.academyforpeacecr.org</a> --}}
	</p>
</footer>