<h3>
	3. {{unless isMobile "Choose" "Swipe right to select"}} all the <span class="instructions-needs">need cards</span> related to the situation.
</h3>

{{#unless showSelectedCards}}
	{{#each cards as |need index|}}
		{{need-cards/need-card
			card = need
			index = index
			indexToDisplay = indexToDisplay
			selectCard = "selectCard"
			discardCard = "discardCard"}}
	{{/each}}
{{/unless}}

{{#if showSelectedCards}}
	<div class="selected-cards">
		{{#each selectedCards as |selectedCard|}}
			<div class="selected-card need-card">
				{{selectedCard}}
			</div>
		{{/each}}
	</div>
{{/if}}