<div class="container">
	<h2 class="text-center">
		About
	</h2>

	<p>
		This exercise was created based on an activity created by the <a href="http://www.academyforpeacecr.org" target="_blank">Academy for Peace Costa Rica</a>.
	</p>
</div>