<div class="exercise-container">
	{{#if showSituationTextarea}}
		{{situation-description
			situation = situation
			showSituation = showSituation
			displayFeelingCards = "displayFeelingCards"}}
	{{/if}}

	{{#if showFeelingCards}}
		{{shuffled-cards
			isMobile = isMobile
			cards = shuffledFeelings
			cardType = "feelings"
			showSelectedCards = showSelectedFeelingCards
			displayNextStep = "displayNeedCards"}}
	{{/if}}

	{{#if showNeedCards}}
		{{shuffled-cards
			isMobile = isMobile
			cards = shuffledNeeds
			cardType = "needs"
			showSelectedCards = showSelectedNeedCards
			displayNextStep = "displaySummary"}}
	{{/if}}

	{{#if showSummary}}
		{{exercise-summary}}
	{{/if}}
</div>