<div class="exercise-container">
	{{#if showSituationTextarea}}
		{{situation-description
			situation = situation
			showSituation = showSituation
			displayFeelingCards = "displayFeelingCards"}}
	{{/if}}

	{{#if showFeelingCards}}
		{{feeling-cards
			feelings = shuffledFeelings
			showSelectedFeelingCards = showSelectedFeelingCards
			displayNeedCards = "displayNeedCards"}}
	{{/if}}

	{{#if showNeedCards}}
		{{need-cards
			needs = shuffledNeeds
			showSelectedNeedCards = showSelectedNeedCards
			displaySummary = "displaySummary"}}
	{{/if}}

	{{#if showSummary}}
		{{exercise-summary}}
	{{/if}}
</div>