{{#if showCard}}
	<div class="card {{!-- {{singularize-word cardType}} --}}feeling-card">
		{{card}}
	</div>

	<div class="select-discard-buttons hidden-phone">
		<span class="button select-button" {{action "selectCard"}}>
			Select
		</span>

		<span class="button discard-button" {{action "discardCard"}}>
			Discard
		</span>
	</div>
{{/if}}